* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
}


header {  
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
  padding: 50px;
  height: 25vh;
  width: 100vw;
  background: radial-gradient(circle at center, rgb(183, 175, 175), gray, black);
}

.container {
  background-color: gray;
  display: flex;
  gap: 2px;
  padding: 7px;
  flex: 1;  
}

nav a {
  text-decoration: none;
  color: white;
  margin: 30px;
  font-size: 40px;
}


aside {
  background-color: rgb(128, 87, 87);
  height: 52vh;
  width: 30%;
  margin: 3px;
}


main {
  flex: 1;
  margin: 3px;
  height: 52vh;
  width: 70%;
  background-color: rgb(128, 87, 87);
}


footer {
  height: 17vh;        
  margin: 10px;
  background-color: gray;
  flex-shrink: 0;       
}